.full-width-table {
  width: 100%;
}

div{
  /* text-align: center; */
  padding-top: 90px;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  user-select: none;
  -moz-user-select:none;
}

table{
  margin: 10px auto;
  width: 1000px;
  /* width: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 2px solid black;
}

table td, table tr{
  border: 1px solid whitesmoke;
  padding: 8px;
}

table tr{
  text-align: center;
}

table tr:nth-child(even){
  background-color: #858585;
}

table tr:hover{
  background-color: #2b2a2a;
  color: white
}

table th{
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: left; */
  background-color: rgb(0, 0, 0);
  color: white;
}