<mat-toolbar class="header mat-elevation-z4">
    <span class="logo">
        <a href=""><img class="img" src="assets/pokilogo.jpeg" alt="logo"></a>
        <i class="material-icons">star_rate</i> Noname Application
    </span>
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="" routerLink="/trescortes">3 Cortes</a></li>
            <li><a href="" routerLink="/admin">Admin</a></li>
            <li><a href="" routerLink="/trescortes">SignOut</a></li>
            <!-- <li><a href="" routerLink="/trescortes">SignIn</a></li> -->
            <!-- <li><a href="" routerLink="/trescortes">SignUp</a></li> -->
        </ul>
    </nav>
</mat-toolbar>
<router-outlet></router-outlet>